# Introduction

Hopefully, this short tutorial can show you a lot of different commands that will help you gain the most insights into your dataset.

In [1]:
import pandas as pd
from src.utils import load_data_from_google_drive

# Loading in Data

The first step in any ML problem is identifying what format your data is in, and then loading it into whatever framework you're using. For Kaggle compeitions, a lot of data can be found in CSV files, so that's the example we're going to use.

We're going to be looking at a sports dataset that shows the results from NCAA basketball games from 1985 to 2016. This dataset is in a CSV file, and the function we're going to use to read in the file is called **pd.read_csv()**. This function returns a **dataframe** variable. The dataframe is the golden jewel data structure for Pandas. It is defined as "a two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns)".

Just think of it as a table for now.

In [2]:
df = load_data_from_google_drive(url='https://drive.google.com/file/d/184JcLbSpArA_uq0DgAv2k892KChJVPHt/view?usp=share_link')

In [3]:
df

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0         1985      20   1228      81   1328      64    N      0
1         1985      25   1106      77   1354      70    H      0
2         1985      25   1112      63   1223      56    H      0
3         1985      25   1165      70   1432      54    H      0
4         1985      25   1192      86   1447      74    H      0
...        ...     ...    ...     ...    ...     ...  ...    ...
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

[145289 rows x 8 columns]

# The Basics

Now that we have our dataframe in our variable df, let's look at what it contains. We can use the function **head()** to see the first couple rows of the dataframe (or the function **tail()** to see the last few rows).

In [4]:
df.head()

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0

In [5]:
df.tail()

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

We can see the dimensions of the dataframe using the the **shape** attribute

In [6]:
df.shape

(145289, 8)

We can also extract all the column names as a list, by using the **columns** attribute and can extract the rows with the **index** attribute

In [7]:
df.columns.tolist()

['Season', 'Daynum', 'Wteam', 'Wscore', 'Lteam', 'Lscore', 'Wloc', 'Numot']

In order to get a better idea of the type of data that we are dealing with, we can call the **describe()** function to see statistics like mean, min, etc about each column of the dataset.

In [8]:
df.describe()

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Numot
count,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000
mean,2001.574834,75.223816,1286.720646,76.600321,1282.864064,64.497009,0.044387
std,9.233342,33.287418,104.570275,12.173033,104.829234,11.380625,0.247819
min,1985.000000,0.000000,1101.000000,34.000000,1101.000000,20.000000,0.000000
25%,1994.000000,47.000000,1198.000000,68.000000,1191.000000,57.000000,0.000000
50%,2002.000000,78.000000,1284.000000,76.000000,1280.000000,64.000000,0.000000
75%,2010.000000,103.000000,1379.000000,84.000000,1375.000000,72.000000,0.000000
max,2016.000000,132.000000,1464.000000,186.000000,1464.000000,150.000000,6.000000

Okay, so now let's looking at information that we want to extract from the dataframe. Let's say I wanted to know the max value of a certain column. The function **max()** will show you the maximum values of all columns

In [9]:
df.max()

Season    2016
Daynum     132
Wteam     1464
Wscore     186
Lteam     1464
Lscore     150
Wloc         N
Numot        6
dtype: object

Then, if you'd like to specifically get the max value for a particular column, you pass in the name of the column using the bracket indexing operator

In [10]:
df['Wscore'].max()

186

If you'd like to find the mean of the Losing teams' score.

In [11]:
df['Lscore'].mean()

64.49700940883343

But what if that's not enough? Let's say we want to actually see the game(row) where this max score happened. We can call the **argmax()** function to identify the row index

In [12]:
df['Wscore'].argmax()

24970

One of the most useful functions that you can call on certain columns in a dataframe is the **value_counts()** function. It shows how many times each item appears in the column. This particular command shows the number of games in each season

In [13]:
df['Season'].value_counts()

Season
2016    5369
2014    5362
2015    5354
2013    5320
2010    5263
2012    5253
2009    5249
2011    5246
2008    5163
2007    5043
2006    4757
2005    4675
2003    4616
2004    4571
2002    4555
2000    4519
2001    4467
1999    4222
1998    4167
1997    4155
1992    4127
1991    4123
1996    4122
1995    4077
1994    4060
1990    4045
1989    4037
1993    3982
1988    3955
1987    3915
1986    3783
1985    3737
Name: count, dtype: int64

**Q**: How many unique seasons are there in the dataset? Use the nunique() function.

In [14]:
# Find and print the number of unique seasons
unique_seasons = df['Season'].nunique()
print("Number of unique seasons:", unique_seasons)

Number of unique seasons: 32

**Q**: Find the team with the most wins. Use the value_counts() function on the Wteam column.

In [15]:
import pandas as pd

# Ensure your dataframe 'df' is already loaded and has the 'Wteam' column

# Count the number of wins for each team in the 'Wteam' column
win_counts = df['Wteam'].value_counts()

# Find the team with the most wins by identifying the team code with the maximum count
team_with_most_wins = win_counts.idxmax()

# Print the team with the most wins
print("Team with the most wins:", team_with_most_wins)

# Optional: if you want to also print the number of wins
print("Number of wins:", win_counts.max())

Team with the most wins: 1181
Number of wins: 819

# Acessing Values

Then, in order to get attributes about the game, we need to use the **iloc[]** function. Iloc is definitely one of the more important functions. The main idea is that you want to use it whenever you have the integer index of a certain row that you want to access. As per Pandas documentation, iloc is an "integer-location based indexing for selection by position."

In [16]:
df.iloc[[df['Wscore'].argmax()]]

       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
24970    1991      68   1258     186   1109     140    H      0

Let's take this a step further. Let's say you want to know the game with the highest scoring winning team (this is what we just calculated), but you then want to know how many points the losing team scored.

In [17]:
df.iloc[[df['Wscore'].argmax()]]['Lscore']

24970    140
Name: Lscore, dtype: int64

When you see data displayed in the above format, you're dealing with a Pandas **Series** object, not a dataframe object.

In [18]:
type(df.iloc[[df['Wscore'].argmax()]]['Lscore'])

pandas.core.series.Series

In [19]:
type(df.iloc[[df['Wscore'].argmax()]])

pandas.core.frame.DataFrame

The following is a summary of the 3 data structures in Pandas (Haven't ever really used Panels yet)

![](DataStructures.png)

When you want to access values in a Series, you'll want to just treat the Series like a Python dictionary, so you'd access the value according to its key (which is normally an integer index)

In [20]:
df.iloc[[df['Wscore'].argmax()]]['Lscore'][24970]

140

The other really important function in Pandas is the **loc** function. Contrary to iloc, which is an integer based indexing, loc is a "Purely label-location based indexer for selection by label". Since all the games are ordered from 0 to 145288, iloc and loc are going to be pretty interchangable in this type of dataset

In [21]:
df.iloc[:3]

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0

In [22]:
df.loc[:3]

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0

Notice the slight difference in that iloc is exclusive of the second number, while loc is inclusive.

Below is an example of how you can use loc to acheive the same task as we did previously with iloc

In [23]:
df.loc[df['Wscore'].argmax(), 'Lscore']

140

A faster version uses the **at()** function. At() is really useful wheneever you know the row label and the column label of the particular value that you want to get.

In [24]:
df.at[df['Wscore'].argmax(), 'Lscore']

140

If you'd like to see more discussion on how loc and iloc are different, check out this great Stack Overflow post: http://stackoverflow.com/questions/31593201/pandas-iloc-vs-ix-vs-loc-explanation. Just remember that **iloc looks at position** and **loc looks at labels**. Loc becomes very important when your row labels aren't integers.

# Sorting

Let's say that we want to sort the dataframe in increasing order for the scores of the losing team

In [25]:
df.sort_values('Lscore').head()

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
100027    2008      66   1203      49   1387      20    H      0
49310     1997      66   1157      61   1204      21    H      0
89021     2006      44   1284      41   1343      21    A      0
85042     2005      66   1131      73   1216      22    H      0
103660    2009      26   1326      59   1359      22    H      0

**Q**: Make three dataframes that are sorted by season, winning team, and winning score respectively. Then, Using iloc, select the rows from index 100 to 200 and the columns for season, winning team, and winning score, respectively.

In [26]:
import pandas as pd

#First i Need to take all the different variables and sort them by season, winning team and winning score after i can select the rows from index 100 to 200
sorted_by_season = df.sort_values('Season')
sorted_by_winning_team = df.sort_values('Wteam')
sorted_by_winning_score = df.sort_values('Wscore')
selected_data = df.iloc[100:201, [0, 2, 3]]

#As you can see below i have printed the data
print("Sorted by Season:")
print(sorted_by_season)
print("\nSorted by Winning Team:")
print(sorted_by_winning_team)
print("\nSorted by Winning Score:")
print(sorted_by_winning_score)
print("\nSelected Rows and Columns:")
print(selected_data)

Sorted by Season:
        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0         1985      20   1228      81   1328      64    N      0
2484      1985      99   1275      73   1132      63    H      0
2485      1985      99   1306      62   1171      59    H      0
2486      1985      99   1318      99   1145      91    H      0
2487      1985      99   1337      75   1109      56    H      0
...        ...     ...    ...     ...    ...     ...  ...    ...
141706    2016      50   1300      57   1183      52    N      0
141705    2016      50   1298      62   1202      49    H      0
141704    2016      50   1295      68   1410      50    N      0
141702    2016      50   1277      99   1324      93    N      1
145288    2016     132   1386      87   1433      74    N      0

[145289 rows x 8 columns]

Sorted by Winning Team:
        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
140642    2016      25   1101      72   1197      62    N      0
136740    2015      62   1101      87   1146      70    H      0
143283    2016      89   1101      80   1249      71    H      0
143476    2016      92   1101      79   1223      72    H      0
141972    2016      61   1101      62   1146      61    A      0
...        ...     ...    ...     ...    ...     ...  ...    ...
56143     1998     125   1464      75   1282      59    N      0
94008     2007      41   1464      68   1454      65    A      0
41936     1995      84   1464      67   1282      52    H      0
110589    2010      68   1464      71   1260      67    H      0
46638     1996      98   1464      73   1442      48    H      0

[145289 rows x 8 columns]

Sorted by Winning Score:
        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
128582    2013     116   1264      34   1193      31    H      0
69336     2001     126   1206      35   1423      33    N      0
5364      1986      77   1229      35   1166      34    A      0
20246     1990      47   1374      36   1426      31    H      0
118590    2011     130   1336      36   1458      33    N      0
...        ...     ...    ...     ...    ...     ...  ...    ...
20022     1990      40   1116     166   1109     101    H      0
24341     1991      47   1328     172   1258     112    H      0
19653     1990      30   1328     173   1109     101    H      0
17867     1989      92   1258     181   1109     150    H      0
24970     1991      68   1258     186   1109     140    H      0

[145289 rows x 8 columns]

Selected Rows and Columns:
     Season  Wteam  Wscore
100    1985   1409      86
101    1985   1444      90
102    1985   1451      89
103    1985   1139      78
104    1985   1154      78
..      ...    ...     ...
196    1985   1203      83
197    1985   1222      73
198    1985   1227      76
199    1985   1228      73
200    1985   1229      54

[101 rows x 3 columns]

**Q**: From these three subsets you obtained above, find the season and winning team for the game with the highest winning score.

In [27]:
# Sort the DataFrame by 'Wscore' to get the highest winning score
sorted_by_winning_score = df.sort_values('Wscore')

# Select the row with the highest 'Wscore'
highest_winning_score_row = sorted_by_winning_score.iloc[0]

# Extract details of the highest winning score
highest_winning_score_season = highest_winning_score_row['Season']
highest_winning_score_winning_team = highest_winning_score_row['Wteam']
highest_winning_score = highest_winning_score_row['Wscore']

# Print the details
print("Season with the highest winning score:", highest_winning_score_season)
print("Winning team with the highest winning score:", highest_winning_score_winning_team)
print("Highest winning score:", highest_winning_score)

Season with the highest winning score: 2013
Winning team with the highest winning score: 1264
Highest winning score: 34

# Filtering Rows Conditionally

Now, let's say we want to find all of the rows that satisy a particular condition. For example, I want to find all of the games where the winning team scored more than 150 points. The idea behind this command is you want to access the column 'Wscore' of the dataframe df (df['Wscore']), find which entries are above 150 (df['Wscore'] > 150), and then returns only those specific rows in a dataframe format (df[df['Wscore'] > 150]).

In [28]:
df[df['Wscore'] > 150]

       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
5269     1986      75   1258     151   1109     107    H      0
12046    1988      40   1328     152   1147      84    H      0
12355    1988      52   1328     151   1173      99    N      0
16040    1989      40   1328     152   1331     122    H      0
16853    1989      68   1258     162   1109     144    A      0
17867    1989      92   1258     181   1109     150    H      0
19653    1990      30   1328     173   1109     101    H      0
19971    1990      38   1258     152   1109     137    A      0
20022    1990      40   1116     166   1109     101    H      0
22145    1990      97   1258     157   1362     115    H      0
23582    1991      26   1318     152   1258     123    N      0
24341    1991      47   1328     172   1258     112    H      0
24970    1991      68   1258     186   1109     140    H      0
25656    1991      84   1106     151   1212      97    H      0
28687    1992      54   1261     159   1319      86    H      0
35023    1993     112   1380     155   1341      91    A      0
40060    1995      32   1375     156   1341     114    H      0
52600    1998      33   1395     153   1410      87    H      0

This also works if you have multiple conditions. Let's say we want to find out when the winning team scores more than 150 points and when the losing team scores below 100.

In [29]:
df[(df['Wscore'] > 150) & (df['Lscore'] < 100)]

       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
12046    1988      40   1328     152   1147      84    H      0
12355    1988      52   1328     151   1173      99    N      0
25656    1991      84   1106     151   1212      97    H      0
28687    1992      54   1261     159   1319      86    H      0
35023    1993     112   1380     155   1341      91    A      0
52600    1998      33   1395     153   1410      87    H      0

**Q**: Create a new column in the DataFrame called 'ScoreDifference' which is the absolute difference between the winning score and the losing score. Filter the DataFrame to only include games where the 'ScoreDifference' is greater than the average 'ScoreDifference' for all games.

In [30]:
# first i wil create a 'ScoreDifference' with the absolute difference between 'Wscore' and 'Lscore'
df['ScoreDifference'] = (df['Wscore'] - df['Lscore']).abs()

# Calculating the average 'ScoreDifference' for all games
average_score_difference = df['ScoreDifference'].mean()

# Now i will filter the DataFrame to only include games where 'ScoreDifference' is greater than the average
filtered_df = df[df['ScoreDifference'] > average_score_difference]

# Printing the original DataFrame with the new column
print("Original DataFrame with 'ScoreDifference':")
print(df)

# Printing the filtered DataFrame
print("\nFiltered DataFrame (ScoreDifference > average):")
print(filtered_df)

Original DataFrame with 'ScoreDifference':
        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  \
0         1985      20   1228      81   1328      64    N      0
1         1985      25   1106      77   1354      70    H      0
2         1985      25   1112      63   1223      56    H      0
3         1985      25   1165      70   1432      54    H      0
4         1985      25   1192      86   1447      74    H      0
...        ...     ...    ...     ...    ...     ...  ...    ...
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

        ScoreDifference
0                    17
1                     7
2                     7
3                    16
4                    12
...                 ...
145284               20
145285               14
145286                5
145287                4
145288               13

[145289 rows x 9 columns]

Filtered DataFrame (ScoreDifference > average):
        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  \
0         1985      20   1228      81   1328      64    N      0
3         1985      25   1165      70   1432      54    H      0
6         1985      25   1228      64   1226      44    N      0
8         1985      25   1260      98   1133      80    H      0
10        1985      25   1307     103   1288      71    H      0
...        ...     ...    ...     ...    ...     ...  ...    ...
145280    2016     131   1401      71   1261      38    N      0
145282    2016     131   1433      76   1172      54    N      0
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145288    2016     132   1386      87   1433      74    N      0

        ScoreDifference
0                    17
3                    16
6                    20
8                    18
10                   32
...                 ...
145280               33
145282               22
145284               20
145285               14
145288               13

[57227 rows x 9 columns]

**Q**: From this filtered DataFrame, find the season and teams involved in the game with the highest 'ScoreDifference'.

In [31]:

# Creating the same colum as before 
df['ScoreDifference'] = (df['Wscore'] - df['Lscore']).abs()

# Calculate the average 'ScoreDifference' for all games 
average_score_difference = df['ScoreDifference'].mean()

# Filter the DataFrame to only include games where 'ScoreDifference' is greater than the average
filtered_df = df[df['ScoreDifference'] > average_score_difference]

# Find the row with the highest 'ScoreDifference' in the filtered DataFrame
game_with_highest_difference = filtered_df.loc[filtered_df['ScoreDifference'].idxmax()]

# Extract the season, winning team, and losing team involved in this game
season_with_highest_difference = game_with_highest_difference['Season']
winning_team_with_highest_difference = game_with_highest_difference['Wteam']
losing_team_with_highest_difference = game_with_highest_difference['Lteam']
highest_difference_score = game_with_highest_difference['ScoreDifference']

# Printing the results
print("Season with the highest ScoreDifference:", season_with_highest_difference)
print("Winning team with the highest ScoreDifference:", winning_team_with_highest_difference)
print("Losing team with the highest ScoreDifference:", losing_team_with_highest_difference)
print("Highest ScoreDifference:", highest_difference_score)

Season with the highest ScoreDifference: 1996
Winning team with the highest ScoreDifference: 1409
Losing team with the highest ScoreDifference: 1341
Highest ScoreDifference: 91

# Grouping

Another important function in Pandas is **groupby()**. This is a function that allows you to group entries by certain attributes (e.g Grouping entries by Wteam number) and then perform operations on them. The following function groups all the entries (games) with the same Wteam number and finds the mean for each group.

In [32]:
df.groupby('Wteam')['Wscore'].mean().head()

Wteam
1101    78.111111
1102    69.893204
1103    75.839768
1104    75.825944
1105    74.960894
Name: Wscore, dtype: float64

This next command groups all the games with the same Wteam number and finds where how many times that specific team won at home, on the road, or at a neutral site

In [33]:
df.groupby('Wteam')['Wloc'].value_counts().head(9)

Wteam  Wloc
1101   H        12
       N         3
       A         3
1102   H       204
       A        73
       N        32
1103   H       324
       A       153
       N        41
Name: count, dtype: int64

Each dataframe has a **values** attribute which is useful because it basically displays your dataframe in a numpy array style format

In [34]:
df.values

array([[1985, 20, 1228, ..., 'N', 0, 17],
       [1985, 25, 1106, ..., 'H', 0, 7],
       [1985, 25, 1112, ..., 'H', 0, 7],
       ...,
       [2016, 132, 1246, ..., 'N', 1, 5],
       [2016, 132, 1277, ..., 'N', 0, 4],
       [2016, 132, 1386, ..., 'N', 0, 13]], dtype=object)

Now, you can simply just access elements like you would in an array.

In [35]:
df.values[0][0]

1985

**Q**: Group the DataFrame by season and find the average winning score for each season.

In [36]:
# Group the DataFrame by 'Season'
grouped_by_season = df.groupby('Season')

# Calculate the average winning score for each season
average_winning_score_per_season = grouped_by_season['Wscore'].mean()

# Print the result
print("Average Winning Score per Season:")
print(average_winning_score_per_season)

Average Winning Score per Season:
Season
1985    74.723040
1986    74.813640
1987    77.993870
1988    79.773704
1989    81.728511
1990    80.846477
1991    82.733932
1992    79.992004
1993    79.508790
1994    81.160345
1995    80.096149
1996    78.205483
1997    76.300842
1998    77.229902
1999    76.043581
2000    76.310467
2001    77.088650
2002    76.963557
2003    75.795061
2004    74.971122
2005    74.693690
2006    74.587555
2007    74.829467
2008    74.962425
2009    74.033721
2010    74.652480
2011    74.374190
2012    73.379973
2013    72.840789
2014    76.101268
2015    72.680799
2016    78.295958
Name: Wscore, dtype: float64

**Q**: Group the DataFrame by winning team and find the maximum winning score for each team across all seasons.

In [37]:
# Group the DataFrame by 'Wteam'
grouped_by_winning_team = df.groupby('Wteam')

# Calculate the maximum winning score for each team
max_winning_score_per_team = grouped_by_winning_team['Wscore'].max()

# Print the result
print("Maximum Winning Score per Team:")
print(max_winning_score_per_team)

Maximum Winning Score per Team:
Wteam
1101     95
1102    111
1103    109
1104    114
1105    114
       ...
1460    136
1461    112
1462    125
1463    105
1464    115
Name: Wscore, Length: 364, dtype: int64

**Q**: Group the DataFrame by both season and winning team. Find the team with the highest average winning score for each season.

In [38]:
# Group the DataFrame by 'Season' and 'Wteam' and calculate the average winning score
grouped = df.groupby(['Season', 'Wteam'])['Wscore'].mean().reset_index()

# For each season, find the team with the highest average winning score
idx = grouped.groupby('Season')['Wscore'].idxmax()
teams_with_highest_avg_score_per_season = grouped.loc[idx]

# Print the result
print("Team with the highest average winning score for each season:")
print(teams_with_highest_avg_score_per_season)

Team with the highest average winning score for each season:
      Season  Wteam      Wscore
174     1985   1328   92.800000
287     1986   1109   91.200000
783     1987   1380   95.875000
977     1988   1258  111.750000
1268    1989   1258  117.315789
1560    1990   1258  126.347826
1950    1991   1380  112.312500
2246    1992   1380   99.642857
2542    1993   1380  101.875000
2842    1994   1380  106.583333
3003    1995   1206  102.833333
3305    1996   1206  103.600000
3648    1997   1254   94.142857
4070    1998   1395  101.153846
4312    1999   1317   95.750000
4695    2000   1395   95.647059
5013    2001   1395   99.315789
5201    2002   1242   92.888889
5660    2003   1395   88.222222
5809    2004   1194   92.142857
6239    2005   1311   91.333333
6460    2006   1190   89.533333
7026    2007   1440   99.400000
7367    2008   1440   94.500000
7652    2009   1377   96.200000
8061    2010   1440   95.000000
8414    2011   1449   90.130435
8683    2012   1370   87.400000
9036    2013   1377   86.500000
9333    2014   1322   92.600000
9683    2015   1322   90.733333
9861    2016   1146   97.142857

**Q**: Create a new DataFrame that counts the number of wins for each team in each season. This will involve grouping by both season and winning team, and then using the count() function.

In [39]:
# Group by 'Season' and 'Wteam' and count the number of wins
win_counts = df.groupby(['Season', 'Wteam']).size()

# Reset the index to convert the Series to a DataFrame
win_counts_df = win_counts.reset_index(name='WinCount')

# Print the result
print("Number of wins for each team in each season:")
print(win_counts_df)

Number of wins for each team in each season:
       Season  Wteam  WinCount
0        1985   1102         5
1        1985   1103         9
2        1985   1104        21
3        1985   1106        10
4        1985   1108        19
...       ...    ...       ...
10167    2016   1460        20
10168    2016   1461        12
10169    2016   1462        27
10170    2016   1463        21
10171    2016   1464         9

[10172 rows x 3 columns]

**Q**: For each season, find the team with the most wins. This will involve creating a DataFrame similar to the one in task 5, and then using the idxmax() function for each season.

In [40]:
# Group by 'Season' and 'Wteam' and count the number of wins
win_counts = df.groupby(['Season', 'Wteam']).size().reset_index(name='WinCount')

# Find the team with the most wins for each season
idx = win_counts.groupby('Season')['WinCount'].idxmax()
teams_with_most_wins_per_season = win_counts.loc[idx][['Season', 'Wteam', 'WinCount']]

# Print the result
print("Team with the most wins for each season:")
print(teams_with_most_wins_per_season)

Team with the most wins for each season:
      Season  Wteam  WinCount
217     1985   1385        27
342     1986   1181        32
818     1987   1424        33
861     1988   1112        31
1323    1989   1328        28
1551    1990   1247        29
1739    1991   1116        30
2088    1992   1181        28
2423    1993   1231        28
2665    1994   1163        27
2928    1995   1116        26
3357    1996   1269        31
3638    1997   1242        31
3943    1998   1242        33
4201    1999   1181        32
4709    2000   1409        29
4829    2001   1181        29
5121    2002   1153        30
5456    2003   1166        29
5981    2004   1390        29
6165    2005   1228        32
6452    2006   1181        30
6841    2007   1242        30
7209    2008   1272        33
7552    2009   1272        31
7870    2010   1242        32
8217    2011   1242        32
8565    2012   1246        32
8878    2013   1211        30
9462    2014   1455        33
9609    2015   1246        34
9955    2016   1242        29

**Q**: Group the DataFrame by losing team and find the average losing score for each team across all seasons. Compare this with the average winning score for each team from task 3. Are there teams that have a higher average losing score than winning score?

In [41]:
# Calculate the average losing score by losing team
avg_losing_score = df.groupby('Lteam')['Lscore'].mean()

print("Average Losing Score per Team:")
print(avg_losing_score)

# Calculate the average winning score by winning team (reuse from task 3)
avg_winning_score = df.groupby('Wteam')['Wscore'].mean()

print("\nAverage Winning Score per Team:")
print(avg_winning_score)

# Combine the results into a single DataFrame for comparison
comparison_df = pd.DataFrame({
    'Average_Winning_Score': avg_winning_score,
    'Average_Losing_Score': avg_losing_score
})

# Drop rows with missing values (some teams may only be winners or losers)
comparison_df = comparison_df.dropna()

print("\nComparison of Average Scores (Winning vs Losing):")
print(comparison_df)

# Step 4: Identify teams with higher average losing score than winning score
teams_higher_losing_score = comparison_df[comparison_df['Average_Losing_Score'] > comparison_df['Average_Winning_Score']]

print("\nTeams with Higher Average Losing Score than Winning Score:")
print(teams_higher_losing_score)

Average Losing Score per Team:
Lteam
1101    60.586207
1102    59.201507
1103    64.117347
1104    64.374317
1105    61.675373
          ...
1460    63.082915
1461    64.661972
1462    68.216117
1463    60.829213
1464    65.187063
Name: Lscore, Length: 364, dtype: float64

Average Winning Score per Team:
Wteam
1101    78.111111
1102    69.893204
1103    75.839768
1104    75.825944
1105    74.960894
          ...
1460    75.531469
1461    75.170082
1462    79.906021
1463    71.720102
1464    73.926056
Name: Wscore, Length: 364, dtype: float64

Comparison of Average Scores (Winning vs Losing):
      Average_Winning_Score  Average_Losing_Score
1101              78.111111             60.586207
1102              69.893204             59.201507
1103              75.839768             64.117347
1104              75.825944             64.374317
1105              74.960894             61.675373
...                     ...                   ...
1460              75.531469             63.082915
1461              75.170082             64.661972
1462              79.906021             68.216117
1463              71.720102             60.829213
1464              73.926056             65.187063

[364 rows x 2 columns]

Teams with Higher Average Losing Score than Winning Score:
Empty DataFrame
Columns: [Average_Winning_Score, Average_Losing_Score]
Index: []

# Dataframe Iteration

In order to iterate through dataframes, we can use the **iterrows()** function. Below is an example of what the first two rows look like. Each row in iterrows is a Series object

In [42]:
for index, row in df.iterrows():
    print(row)
    if index == 1:
        break

Season             1985
Daynum               20
Wteam              1228
Wscore               81
Lteam              1328
Lscore               64
Wloc                  N
Numot                 0
ScoreDifference      17
Name: 0, dtype: object
Season             1985
Daynum               25
Wteam              1106
Wscore               77
Lteam              1354
Lscore               70
Wloc                  H
Numot                 0
ScoreDifference       7
Name: 1, dtype: object

**Q**: Create a new column 'HighScoringGame' that is 'Yes' if the winning score is greater than 100 and 'No' otherwise. This will require iterating over the rows of the DataFrame and checking the value of the winning score for each row.

In [43]:
# Create the 'HighScoringGame' column
# The lambda function checks if 'Wscore' > 100 for each row and assigns 'Yes' or 'No'
df['HighScoringGame'] = df['Wscore'].apply(lambda x: 'Yes' if x > 100 else 'No')

# Print the updated DataFrame
print("Updated DataFrame with 'HighScoringGame':")
print(df)

Updated DataFrame with 'HighScoringGame':
        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  \
0         1985      20   1228      81   1328      64    N      0
1         1985      25   1106      77   1354      70    H      0
2         1985      25   1112      63   1223      56    H      0
3         1985      25   1165      70   1432      54    H      0
4         1985      25   1192      86   1447      74    H      0
...        ...     ...    ...     ...    ...     ...  ...    ...
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

        ScoreDifference HighScoringGame
0                    17              No
1                     7              No
2                     7              No
3                    16              No
4                    12              No
...                 ...             ...
145284               20              No
145285               14              No
145286                5              No
145287                4              No
145288               13              No

[145289 rows x 10 columns]

**Q**: Calculate the total number of games played by each team, whether they won or lost. This will require iterating over the rows of the DataFrame and updating a dictionary that keeps track of the number of games for each team.

In [44]:
# Initialize an empty dictionary to keep track of games played for each team
games_played = {}

# Iterate over the DataFrame rows and update the dictionary
for index, row in df.iterrows():
    # For the winning team (Wteam)
    if row['Wteam'] in games_played:
        games_played[row['Wteam']] += 1
    else:
        games_played[row['Wteam']] = 1
    
    # For the losing team (Lteam)
    if row['Lteam'] in games_played:
        games_played[row['Lteam']] += 1
    else:
        games_played[row['Lteam']] = 1

# Print the dictionary to see the total number of games played by each team
print("Total number of games played by each team:")
for team, games in games_played.items():
    print(f"{team}: {games} games")

Total number of games played by each team:
1228: 992 games
1328: 968 games
1106: 855 games
1354: 906 games
1112: 981 games
1223: 363 games
1165: 833 games
1432: 69 games
1192: 908 games
1447: 903 games
1218: 931 games
1337: 922 games
1226: 847 games
1242: 993 games
1268: 969 games
1260: 914 games
1133: 949 games
1305: 922 games
1424: 974 games
1307: 969 games
1288: 925 games
1344: 951 games
1438: 952 games
1374: 916 games
1411: 903 games
1412: 962 games
1397: 963 games
1417: 966 games
1225: 880 games
1116: 980 games
1368: 808 games
1120: 936 games
1391: 879 games
1135: 847 games
1306: 898 games
1143: 947 games
1388: 897 games
1153: 970 games
1184: 863 games
1159: 887 games
1171: 829 games
1216: 930 games
1173: 960 games
1134: 200 games
1177: 942 games
1296: 879 games
1193: 942 games
1265: 934 games
1196: 981 games
1416: 881 games
1206: 938 games
1137: 912 games
1210: 972 games
1149: 824 games
1211: 921 games
1102: 840 games
1234: 968 games
1114: 910 games
1332: 927 games
1243: 927 games
1317: 883 games
1257: 994 games
1231: 969 games
1277: 966 games
1145: 934 games
1278: 948 games
1453: 912 games
1286: 851 games
1186: 849 games
1301: 979 games
1144: 850 games
1325: 942 games
1384: 887 games
1326: 968 games
1248: 896 games
1287: 857 games
1339: 879 games
1334: 899 games
1365: 907 games
1375: 896 games
1126: 906 games
1403: 939 games
1152: 865 games
1423: 931 games
1347: 858 games
1429: 930 games
1428: 931 games
1437: 983 games
1436: 911 games
1172: 879 games
1439: 946 games
1330: 963 games
1443: 942 games
1121: 175 games
1455: 947 games
1249: 873 games
1241: 942 games
1440: 825 games
1314: 1010 games
1200: 922 games
1323: 950 games
1264: 928 games
1458: 951 games
1104: 975 games
1160: 928 games
1414: 922 games
1181: 1013 games
1387: 956 games
1183: 871 games
1247: 943 games
1284: 932 games
1402: 847 games
1276: 959 games
1178: 920 games
1364: 890 games
1338: 962 games
1290: 875 games
1376: 945 games
1378: 936 games
1202: 856 games
1396: 979 games
1180: 930 games
1398: 870 games
1399: 860 games
1155: 950 games
1258: 898 games
1448: 947 games
1464: 856 games
1124: 906 games
1341: 857 games
1130: 951 games
1254: 898 games
1204: 862 games
1151: 899 games
1233: 957 games
1220: 933 games
1246: 999 games
1405: 921 games
1280: 946 games
1238: 920 games
1308: 935 games
1431: 937 games
1253: 915 games
1363: 889 games
1348: 938 games
1373: 950 games
1379: 896 games
1270: 861 games
1409: 966 games
1331: 809 games
1444: 916 games
1434: 902 games
1451: 866 games
1139: 923 games
1442: 840 games
1154: 820 games
1456: 891 games
1229: 951 games
1227: 917 games
1259: 913 games
1406: 926 games
1261: 956 games
1272: 992 games
1117: 891 games
1273: 896 games
1163: 977 games
1318: 942 games
1360: 889 games
1393: 993 games
1419: 894 games
1418: 912 games
1281: 977 games
1161: 905 games
1109: 169 games
1309: 840 games
1298: 894 games
1321: 912 games
1285: 865 games
1271: 887 games
1353: 939 games
1351: 929 games
1359: 874 games
1267: 909 games
1361: 915 games
1386: 958 games
1400: 982 games
1322: 854 games
1433: 975 games
1187: 861 games
1245: 927 games
1111: 876 games
1150: 942 games
1119: 868 games
1141: 872 games
1221: 929 games
1122: 903 games
1185: 900 games
1199: 949 games
1201: 947 games
1212: 837 games
1197: 896 games
1140: 965 games
1292: 888 games
1162: 831 games
1319: 843 games
1239: 891 games
1320: 913 games
1371: 946 games
1349: 888 games
1222: 930 games
1382: 914 games
1383: 898 games
1385: 954 games
1390: 932 games
1425: 944 games
1435: 961 games
1463: 838 games
1441: 854 games
1449: 938 games
1123: 906 games
1103: 910 games
1129: 907 games
1209: 891 games
1156: 900 games
1336: 926 games
1174: 913 games
1343: 832 games
1232: 913 games
1203: 933 games
1110: 910 games
1335: 880 games
1283: 952 games
1235: 950 games
1166: 957 games
1311: 839 games
1256: 925 games
1147: 698 games
1250: 898 games
1266: 951 games
1452: 945 games
1269: 946 games
1208: 954 games
1310: 949 games
1329: 941 games
1333: 911 games
1345: 966 games
1263: 898 games
1352: 925 games
1380: 862 games
1446: 48 games
1427: 858 games
1113: 937 games
1408: 808 games
1410: 831 games
1350: 959 games
1450: 913 games
1462: 954 games
1131: 945 games
1190: 891 games
1168: 891 games
1179: 914 games
1304: 953 games
1224: 907 games
1356: 953 games
1426: 859 games
1215: 147 games
1132: 895 games
1217: 828 games
1389: 928 games
1395: 943 games
1461: 914 games
1279: 927 games
1275: 932 games
1293: 886 games
1191: 928 games
1299: 870 games
1401: 940 games
1175: 890 games
1327: 22 games
1207: 923 games
1108: 866 games
1182: 924 games
1274: 915 games
1362: 867 games
1164: 893 games
1118: 27 games
1420: 845 games
1457: 801 games
1148: 844 games
1372: 795 games
1157: 784 games
1421: 799 games
1358: 806 games
1460: 827 games
1198: 812 games
1291: 815 games
1381: 735 games
1251: 755 games
1282: 745 games
1169: 724 games
1302: 200 games
1454: 737 games
1170: 660 games
1138: 728 games
1158: 720 games
1422: 719 games
1369: 682 games
1404: 643 games
1194: 647 games
1407: 639 games
1142: 597 games
1214: 627 games
1459: 575 games
1240: 568 games
1313: 563 games
1115: 520 games
1176: 526 games
1346: 522 games
1237: 519 games
1340: 497 games
1107: 512 games
1357: 500 games
1324: 506 games
1189: 481 games
1125: 506 games
1105: 447 games
1392: 493 games
1219: 466 games
1127: 442 games
1289: 48 games
1415: 418 games
1236: 400 games
1394: 390 games
1205: 405 games
1128: 106 games
1252: 401 games
1366: 384 games
1294: 336 games
1255: 344 games
1430: 325 games
1413: 348 games
1355: 327 games
1244: 322 games
1295: 308 games
1316: 327 games
1445: 107 games
1312: 276 games
1146: 267 games
1167: 260 games
1300: 252 games
1367: 267 games
1342: 260 games
1195: 273 games
1188: 207 games
1377: 210 games
1315: 217 games
1136: 240 games
1370: 222 games
1303: 129 games
1297: 113 games
1213: 84 games
1262: 83 games
1101: 76 games
1230: 64 games

**Q**: For each season, find the game with the highest score difference (winning score - losing score). This will require iterating over the rows of the DataFrame, keeping track of the highest score difference for each season, and updating it if a game with a higher score difference is found.

In [45]:
# Initialize an empty dictionary to keep track of the highest score difference for each season
highest_score_difference = {}

# Iterate over the DataFrame rows and update the dictionary
for index, row in df.iterrows():
    season = row['Season']
    score_difference = row['Wscore'] - row['Lscore']
    
    if season not in highest_score_difference:
        # Initialize a dictionary for each season
        highest_score_difference[season] = {
            'index': index,
            'score_difference': score_difference
        }
    else:
        # Update if current score difference is higher than the recorded one
        if score_difference > highest_score_difference[season]['score_difference']:
            highest_score_difference[season] = {
                'index': index,
                'score_difference': score_difference
            }

# Print the results
print("Game with the highest score difference for each season:")
for season, info in highest_score_difference.items():
    highest_diff_game = df.loc[info['index']]
    print(f"Season: {season}, Winning Team: {highest_diff_game['Wteam']}, Losing Team: {highest_diff_game['Lteam']}, "
          f"Wscore: {highest_diff_game['Wscore']}, Lscore: {highest_diff_game['Lscore']}, "
          f"Score Difference: {info['score_difference']}")

Game with the highest score difference for each season:
Season: 1985, Winning Team: 1361, Losing Team: 1288, Wscore: 128, Lscore: 68, Score Difference: 60
Season: 1986, Winning Team: 1314, Losing Team: 1264, Wscore: 129, Lscore: 45, Score Difference: 84
Season: 1987, Winning Team: 1155, Losing Team: 1118, Wscore: 112, Lscore: 39, Score Difference: 73
Season: 1988, Winning Team: 1328, Losing Team: 1147, Wscore: 152, Lscore: 84, Score Difference: 68
Season: 1989, Winning Team: 1242, Losing Team: 1135, Wscore: 115, Lscore: 45, Score Difference: 70
Season: 1990, Winning Team: 1181, Losing Team: 1217, Wscore: 130, Lscore: 54, Score Difference: 76
Season: 1991, Winning Team: 1163, Losing Team: 1148, Wscore: 115, Lscore: 47, Score Difference: 68
Season: 1992, Winning Team: 1116, Losing Team: 1126, Wscore: 128, Lscore: 46, Score Difference: 82
Season: 1993, Winning Team: 1328, Losing Team: 1197, Wscore: 146, Lscore: 65, Score Difference: 81
Season: 1994, Winning Team: 1228, Losing Team: 1152, Wscore: 121, Lscore: 52, Score Difference: 69
Season: 1995, Winning Team: 1246, Losing Team: 1404, Wscore: 124, Lscore: 50, Score Difference: 74
Season: 1996, Winning Team: 1409, Losing Team: 1341, Wscore: 141, Lscore: 50, Score Difference: 91
Season: 1997, Winning Team: 1278, Losing Team: 1106, Wscore: 114, Lscore: 34, Score Difference: 80
Season: 1998, Winning Team: 1395, Losing Team: 1410, Wscore: 153, Lscore: 87, Score Difference: 66
Season: 1999, Winning Team: 1268, Losing Team: 1317, Wscore: 132, Lscore: 57, Score Difference: 75
Season: 2000, Winning Team: 1261, Losing Team: 1212, Wscore: 112, Lscore: 37, Score Difference: 75
Season: 2001, Winning Team: 1196, Losing Team: 1197, Wscore: 125, Lscore: 50, Score Difference: 75
Season: 2002, Winning Team: 1328, Losing Team: 1183, Wscore: 109, Lscore: 50, Score Difference: 59
Season: 2003, Winning Team: 1403, Losing Team: 1311, Wscore: 107, Lscore: 35, Score Difference: 72
Season: 2004, Winning Team: 1328, Losing Team: 1115, Wscore: 94, Lscore: 24, Score Difference: 70
Season: 2005, Winning Team: 1403, Losing Team: 1421, Wscore: 119, Lscore: 55, Score Difference: 64
Season: 2006, Winning Team: 1400, Losing Team: 1341, Wscore: 110, Lscore: 38, Score Difference: 72
Season: 2007, Winning Team: 1401, Losing Team: 1212, Wscore: 101, Lscore: 27, Score Difference: 74
Season: 2008, Winning Team: 1182, Losing Team: 1224, Wscore: 129, Lscore: 59, Score Difference: 70
Season: 2009, Winning Team: 1314, Losing Team: 1421, Wscore: 116, Lscore: 48, Score Difference: 68
Season: 2010, Winning Team: 1397, Losing Team: 1421, Wscore: 124, Lscore: 49, Score Difference: 75
Season: 2011, Winning Team: 1388, Losing Team: 1152, Wscore: 121, Lscore: 52, Score Difference: 69
Season: 2012, Winning Team: 1345, Losing Team: 1296, Wscore: 96, Lscore: 34, Score Difference: 62
Season: 2013, Winning Team: 1235, Losing Team: 1105, Wscore: 98, Lscore: 40, Score Difference: 58
Season: 2014, Winning Team: 1256, Losing Team: 1255, Wscore: 126, Lscore: 52, Score Difference: 74
Season: 2015, Winning Team: 1181, Losing Team: 1342, Wscore: 113, Lscore: 44, Score Difference: 69
Season: 2016, Winning Team: 1139, Losing Team: 1154, Wscore: 144, Lscore: 71, Score Difference: 73

Remember, iterating over a DataFrame should generally be avoided if a vectorized operation can be used instead, as vectorized operations are usually much faster. However, these tasks are designed to give practice with DataFrame iteration for cases where it might be necessary.

Vectorized Operation Example: Create a new column 'HighScoringGame' in the DataFrame using a vectorized operation. This column should contain 'Yes' if the winning score is greater than 100 and 'No' otherwise. Use the np.where function from the numpy library for this task.

In [46]:
import numpy as np
df['HighScoringGame'] = np.where(df['Wscore'] > 100, 'Yes', 'No')

**Q**: Vectorized Operation: Calculate the total number of games played by each team, whether they won or lost. Instead of iterating over the DataFrame, use the value_counts() function on the winning team and losing team columns separately, and then add the two Series together.

In [47]:
# Use value_counts() on 'Wteam' column
win_counts = df['Wteam'].value_counts()

# Use value_counts() on 'Lteam' column
lose_counts = df['Lteam'].value_counts()

# Add the two Series together
total_games = win_counts.add(lose_counts, fill_value=0).astype(int)

# Print the resulting Series
print("Total number of games played by each team:")
print(total_games)

Total number of games played by each team:
1101     76
1102    840
1103    910
1104    975
1105    447
       ...
1460    827
1461    914
1462    954
1463    838
1464    856
Name: count, Length: 364, dtype: int32

**Q**: For each season, find the game with the highest score difference (winning score - losing score). Instead of iterating over the DataFrame, create a new column 'ScoreDifference' using vectorized subtraction, then use the groupby() function and idxmax() function to find the game with the highest score difference for each season.

In [48]:
# Calculate the score difference for each game by subtracting the losing score from the winning score
df['ScoreDifference'] = df['Wscore'] - df['Lscore']

# Identify the game with the maximum score difference for each season
max_score_diff_per_season = df.loc[df.groupby('Season')['ScoreDifference'].idxmax()]

# Display the game details with the highest score difference for each season
print("Game with the Highest Score Difference for Each Season:")
print(max_score_diff_per_season)

# Optionally, remove the 'ScoreDifference' column if it is no longer required
df.drop('ScoreDifference', axis=1, inplace=True)

Game with the Highest Score Difference for Each Season:
        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  \
236       1985      33   1361     128   1288      68    H      0
4731      1986      60   1314     129   1264      45    N      0
8240      1987      51   1155     112   1118      39    H      0
12046     1988      40   1328     152   1147      84    H      0
16677     1989      64   1242     115   1135      45    H      0
19502     1990      26   1181     130   1217      54    H      0
25161     1991      73   1163     115   1148      47    H      0
27997     1992      30   1116     128   1126      46    H      0
33858     1993      86   1328     146   1197      65    H      0
36404     1994      47   1228     121   1152      52    H      0
39858     1995      26   1246     124   1404      50    H      0
44653     1996      48   1409     141   1341      50    H      0
49033     1997      56   1278     114   1106      34    H      0
52600     1998      33   1395     153   1410      87    H      0
57618     1999      58   1268     132   1317      57    H      0
60616     2000      19   1261     112   1212      37    H      0
65999     2001      41   1196     125   1197      50    H      0
70737     2002      50   1328     109   1183      50    H      0
74791     2003      33   1403     107   1311      35    H      0
79181     2004      29   1328      94   1115      24    H      0
83372     2005      18   1403     119   1421      55    H      0
89542     2006      60   1400     110   1341      38    H      0
94507     2007      59   1401     101   1212      27    H      0
97737     2008       4   1182     129   1224      59    H      0
103723    2009      27   1314     116   1421      48    H      0
108405    2010      15   1397     124   1421      49    H      0
114015    2011      22   1388     121   1152      52    H      0
118699    2012      11   1345      96   1296      34    H      0
124057    2013       7   1235      98   1105      40    H      0
131373    2014      61   1256     126   1255      52    H      0
134590    2015      11   1181     113   1342      44    H      0
140040    2016      12   1139     144   1154      71    H      0

        ScoreDifference HighScoringGame
236                  60             Yes
4731                 84             Yes
8240                 73             Yes
12046                68             Yes
16677                70             Yes
19502                76             Yes
25161                68             Yes
27997                82             Yes
33858                81             Yes
36404                69             Yes
39858                74             Yes
44653                91             Yes
49033                80             Yes
52600                66             Yes
57618                75             Yes
60616                75             Yes
65999                75             Yes
70737                59             Yes
74791                72             Yes
79181                70              No
83372                64             Yes
89542                72             Yes
94507                74             Yes
97737                70             Yes
103723               68             Yes
108405               75             Yes
114015               69             Yes
118699               62              No
124057               58              No
131373               74             Yes
134590               69             Yes
140040               73             Yes

# Extracting Rows and Columns

The bracket indexing operator is one way to extract certain columns from a dataframe.

In [49]:
df[['Wscore', 'Lscore']].head()

   Wscore  Lscore
0      81      64
1      77      70
2      63      56
3      70      54
4      86      74

Notice that you can acheive the same result by using the loc function. Loc is a veryyyy versatile function that can help you in a lot of accessing and extracting tasks.

In [50]:
df.loc[:, ['Wscore', 'Lscore']].head()

   Wscore  Lscore
0      81      64
1      77      70
2      63      56
3      70      54
4      86      74

Note the difference is the return types when you use brackets and when you use double brackets.

In [51]:
type(df['Wscore'])

pandas.core.series.Series

In [52]:
type(df[['Wscore']])

pandas.core.frame.DataFrame

You've seen before that you can access columns through df['col name']. You can access rows by using slicing operations.

In [53]:
df[0:3]

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot HighScoringGame
0    1985      20   1228      81   1328      64    N      0              No
1    1985      25   1106      77   1354      70    H      0              No
2    1985      25   1112      63   1223      56    H      0              No

Here's an equivalent using iloc

In [54]:
df.iloc[0:3,:]

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot HighScoringGame
0    1985      20   1228      81   1328      64    N      0              No
1    1985      25   1106      77   1354      70    H      0              No
2    1985      25   1112      63   1223      56    H      0              No

# Data Cleaning

One of the big jobs of doing well in Kaggle competitions is that of data cleaning. A lot of times, the CSV file you're given (especially like in the Titanic dataset), you'll have a lot of missing values in the dataset, which you have to identify. The following **isnull** function will figure out if there are any missing values in the dataframe, and will then sum up the total for each column. In this case, we have a pretty clean dataset.

In [55]:
df.isnull().sum()

Season             0
Daynum             0
Wteam              0
Wscore             0
Lteam              0
Lscore             0
Wloc               0
Numot              0
HighScoringGame    0
dtype: int64

If you do end up having missing values in your datasets, be sure to get familiar with these two functions. 
* **dropna()** - This function allows you to drop all(or some) of the rows that have missing values. 
* **fillna()** - This function allows you replace the rows that have missing values with the value that you pass in.

# Other Useful Functions

* **drop()** - This function removes the column or row that you pass in (You also have the specify the axis). 
* **agg()** - The aggregate function lets you compute summary statistics about each group
* **apply()** - Lets you apply a specific function to any/all elements in a Dataframe or Series
* **get_dummies()** - Helpful for turning categorical data into one hot vectors.
* **drop_duplicates()** - Lets you remove identical rows

# Lots of Other Great Resources

Pandas has been around for a while and there are a lot of other good resources if you're still interested on getting the most out of this library. 
* http://pandas.pydata.org/pandas-docs/stable/10min.html
* https://www.datacamp.com/community/tutorials/pandas-tutorial-dataframe-python
* http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/
* https://www.dataquest.io/blog/pandas-python-tutorial/
* https://drive.google.com/file/d/0ByIrJAE4KMTtTUtiVExiUGVkRkE/view
* https://www.youtube.com/playlist?list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y